// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.image_td {
  width: 30%;
}

.article {
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  width: 40rem;
}

.post_comment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment_field {
  text-align: center;
}

#comment_content {
  width: 15rem;
}

.field_with_errors {
  margin: auto;
}

.post_field {
  // display: flex;
  // width: 90%;
  // margin: auto;
  text-align: center;
}

.actions {
  margin-left: 0.7rem;
}

.table_frame {
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  width: 35rem;
}

.article_info {
  list-style-type: none;
  display: block;
}

.article_source {
  text-align: end;
}

#comment_table {
  margin: auto;
}

.comment_list {
  margin: auto;
  margin-top: 1rem;
  padding-top: 1rem;
  width: 30rem;
}

.comment_div {
  display: flex;
  margin: 0;
  justify-content: center;
  // width: 40rem;
}

.each_comment {
  width: 24rem;
  height: 8rem;
  list-style-type: none;
  margin-bottom: 1.5rem;
}

.user_name {
  padding-left: 5rem;
}

.form_comment {
  width: auto;
}

// .comment_info {
// }

// .comment_list tr {
// }

@import "bootstrap";
