html {
  height: 100%;
}

body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  height: 100%;
}

body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  // background-color: #000;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: aliceblue;
  display: table;
}

#error_explanation {
  width: 450px;
  padding: 7px 7px 0;
  font-size: 1rem;
  margin-bottom: 20px;
}

#error_explanation p {
  padding: 5px 5px 5px 15px;
  font-size: 1rem;
  margin: -7px -7px 0;
}

#error_explanation ul li {
  font-size: 0.9rem;
  list-style-type: none;
}

label {
  display: block;
}

@import "bootstrap";
