// Place all the styles related to the my::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .default {
//   width: 30%;
//   height: 30%;
// }
#mypage {
  // display: flex;
  text-align: center;
  margin: 2rem;
}

.actions {
  // display: flex;
  // justify-content: center;
  margin: 0;
}
